.subtractIcon1 {
  position: relative;
  width: 21px;
  height: 24.07px;
  object-fit: cover;
}
.homeFill1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 36px;
  height: 36px;
}
