.reestablecimientoDeContrase1 {
  position: absolute;
  top: 259px;
  left: 346px;
}
.introduzcaSuId1 {
  position: absolute;
  top: 302px;
  left: 364px;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--color-black);
}
.iniciarSesion {
  position: absolute;
  top: 511px;
  left: 319px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  text-align: center;
}
.viewAllButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-6xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.recuperar {
  position: absolute;
  height: 75%;
  width: 72%;
  top: 14.29%;
  left: 14%;
  letter-spacing: 0.01em;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewAllButton1 {
  position: absolute;
  height: 6.67%;
  width: 19.27%;
  top: 67.04%;
  right: 40.42%;
  bottom: 26.3%;
  left: 40.31%;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-whitesmoke-100);
}
.hu06RecuperarContraseaChild {
  position: absolute;
  top: 325px;
  left: 384px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-crimson);
  box-sizing: border-box;
  width: 191px;
  height: 28px;
}
.hu06RecuperarContrasea {
  position: relative;
  background-color: var(--color-white);
  width: 960px;
  height: 540px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
  font-family: var(--font-lato);
}
